/*
*  html5resetcss
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

* {
  box-sizing: border-box;
}
body{
  width: 1920px;
}
header{
  font-family: "Noto Sans TC",serif;
  margin: 0 auto;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 32px 312px;
  border-bottom: 1px solid #F1F1F1 ;

}

.header_menu{
  max-width: 100%;
  margin-left: 318px;
  display: flex;
  list-style-type: none;
  column-gap: 40px;
  row-gap: 10px;
}
.header_menu>li{
  display: block;
  text-align: center;
  padding: 4px 8px;
  line-height: 24px;
}
.header_menu>li>a{
  text-decoration: none;
  color: #000000;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center; 
  background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-lg.png?raw=true');
  background-repeat:no-repeat;
  background-size: cover;
}

.footer_container {
  font-family: "Noto Sans", sans-serif;
  width: 1296px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0;
}
.footer-info {
  max-width: 686px;
/*   margin-right: 304px; */
}
.img-footer {
  display: flex;
  max-width: 120px;
  height: 54px;
  margin-bottom: 24px;
}
img {
  object-fit: contain;
}
.content {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 24px;
  color: #3b3b3b;
}
.email {
  font-size: 20px;
  line-height: 24px;
  color: #919191;
}
.fill_form {
  max-width: 306px;
  background: #000;
  display: flex;
  align-items: center;
  padding: 8px 24px;
  gap: 8px;
  border-radius: 8px;
  margin-bottom: 24px;
}
.fill_form >a  {
  display: block;
  text-decoration:none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
.list_ig {
  margin-bottom: 24px;
}
.list_ig,
.list_fb {
  max-width: 306px;
  border: 1px solid #c1c1c1;
  background:   #FFFFFF;
  display: flex;
  align-items: center;
  padding: 8px 24px;
  gap: 8px;
  border-radius: 8px;
}
.list_ig > a,
.list_fb > a {
  display: block;
  text-decoration:none;
  color: #3b3b3b;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

@media (max-width: 767px) {
  body{
    background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-sm.png?raw=true');
  }
  .footer {
    max-width: 375px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 12px;
  }
  .footer-info {
    max-width: 351px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    margin-right: 0;
  }
  .img-footer {
    display: flex;
    justify-content: center;
  }
  .content {
    max-width: 240px;
    font-size: 16px;
  }
  .email {
    font-size: 16px;
  }
}
